@charset "utf-8";
/* CSS Document */

nav#navigation-bar {
	background-color: #1f1f1f;
}

div#body {
	margin-top: 125px;
}

li p {
	font-family: "Adobe Garamond Pro", serif;
	font-size: 1.75em;
	text-align: center;
	width: 100%;
}

h2#brothers {
	margin-bottom: 25px;
}