@charset "utf-8";
/* CSS Document */

p {
	font-family: "Adobe Garamond Pro", serif;
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.25px;
	line-height: 1.8em;
	color: #1a1a1a;
	opacity: 0.85;
	text-align: left;
	text-decoration: none;
	width: 80%;
	margin: auto;
}

h1 {
	font-family: "Adobe Garamond Pro", serif;
	font-size: 28px;
	font-weight: 400;
	font-style: normal;
	letter-spacing: 0.5px;
	color: #1a1a1a;
	opacity: 1;
	width: 60%;
	margin: 40px auto 25px auto;
	text-decoration: none;
}

h2 {
	font-family: "Montserrat", sans-serif;
	font-size: 22px;
	font-weight: 100;
	letter-spacing: 0.5px;
	color: #1a1a1a;
	text-decoration: none;
}

h3 {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: 100;
	letter-spacing: 0.5px;
	text-decoration: none;
	color: #1a1a1a;
}

ul li:hover {
	background-color: rgba(0, 0, 0, 0);
}

/* Everything is end-to-end */
/*
.container-fluid {
	padding: 0;
}
*/

@media only screen and (min-width : 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

.dropdown-menu {
	background-color: #1f1f1f;
}

/*** NAVIGATION BAR ***/

nav#navigation-bar {
	position: absolute;
	display: inline;
	top: 0;
	left: 0;
	right: 0;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0);
	border: none;
	border-radius: 0;
	padding-bottom: 15px;
}

a#PSE {
	font-family: "Montserrat", sans-serif;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	line-height: 1.2em;
	margin-left: 15px;
	color: white;
}

ul#main-navigation {
	margin-top: 15px;
	margin-right: 10px;
}

ul#main-navigation li {
	margin-right: 14px;
}

ul#main-navigation a {
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: white;
	letter-spacing: 1px;
	padding: 10px;
	text-transform: uppercase;
	text-decoration: none;
}

ul#main-navigation li:hover ul li a:hover {
	background-color: #1f1f1f;
	color: yellow;
}

li#contact-button {
	border: 2px solid white;
	border-radius: 20px;
}

li:hover#contact-button {
	background-color: white;
}

li:hover#contact-button a {
	color: #1f1f1f;
}

.active-link {
	color: yellow !important;
}

.inactive-link {
	color: white !important;
}

.navbar-toggle {
	box-shadow: none;
	border: none;	
}

.navbar-collapse {
	box-shadow: none;
	border: none;
}

.collapse {
	box-shadow: none;
	border: none;
}

/*** PREFOOTER ***/

div#prefooter {
	background-color: #333333;
	padding: 10px 0px;
	margin-top: 100px;
}

p#prefooter-desc {
	color: #c8c8c8;
}

ul#icon-nav {
	text-align: center;
}

ul#icon-nav li {
	list-style: none;
	display: inline;
	padding: 0px 5px;
}

ul#icon-nav li:hover {
	opacity: 0.8;
}

/*** FOOTER ***/

div#footer {
	background-color: #1f1f1f;
	padding: 50px 0;
}

p#footer-desc {
	width: 80%;
	color: #c8c8c8;
}

a#pse-link {
	text-decoration: underline;
	color: #c8c8c8;
}