@charset "utf-8";
/* CSS Document */

.bro-modal {
	display: none;
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: black;
	background-color: rgba(0, 0, 0, 0.5); /* must use rgba to get background opaque */
	padding-top: 5%;
}

.bro-modal-content {
	position: relative;
	background-color: #E9E9E9;
	margin: auto;
	padding: 0;
	width: 78%;
	height: auto;
}

.bro-close {
	color: #aaa;
	float: right;
	font-size: 2.875em;
	font-weight: bold;
}

.bro-close:hover, .bro-close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.bro-modal-header {
	padding: 15px 15px 0 15px;
	background-color: #52247f;
	color: white;
}

.bro-modal-body {
	padding: 2%;
}

.name {
	font-size: 4.375em;
	font-family: "Adobe Garamond Pro", serif;
	color: white;
	text-align: left;
	display: inline;
	letter-spacing: 1px;
	margin-left: 2%;
}

.title {
	font-size: 2.25em;
	font-family: "Montserrat", sans-serif;
	color: white;
	text-align: left;
	display: inline;
	letter-spacing: 0.0125em;
	text-transform: uppercase;
	margin-left: 5%;
}

td, tr {
	vertical-align: middle;
}

.modal-table {
	display: inline-block;
	position: absolute;
}

.item {
	font-family: "Montserrat", sans-serif;
	font-size: 1.7em;
	letter-spacing: 0.25px;
	text-transform: uppercase;
	color: #1f1f1f;
/*	padding-right: 18px;*/
}

.value {
	font-family: "Montserrat", sans-serif;
	font-size: 1.7em;
	letter-spacing: 0px;
	display: inline;
	padding-left: 18px;
	color: #333333;
	vertical-align: middle;
}

.bro-modal-paragraph {
	margin-top: 1%;
	display: inline-block;
	color: #333333;
	position: absolute;
	font-size: 1.6em;
	line-height: 1.5em;
	width: 90%;
}

.margin-top-10 {
	margin-top: 1%;
}

.margin-top-20 {
	margin-top: 2%;
}

.margin-top-30 {
	margin-top: 3%;
}

.margin-top-40 {
	margin-top: 4%;
}

.margin-top-50 {
	margin-top: 5%;
}

.margin-top-60 {
	margin-top: 6%;
}

.margin-top-80 {
	margin-top: 8%;
}

.linkedin-icon {
	position: absolute;
	margin-top: 1%;
/*	padding: none;*/
}

.linkedin-icon:hover, .linkedin-icon:focus {
	opacity: 0.75;
}

ul li img {
	opacity: 1.0;
	transition: opacity .65s ease-in-out;
	-moz-transition: opacity .65s ease-in-out;
	-webkit-transition: opacity .65s ease-in-out;	
}

ul li img:hover {
	opacity: 0.75;
	transition: opacity .65s ease-in-out;
	-moz-transition: opacity .65s ease-in-out;
	-webkit-transition: opacity .65s ease-in-out;	
}
