@charset "utf-8";
/* CSS Document */

nav#navigation-bar {
	background-color: #1f1f1f;
}

div#body {
	margin-top: 125px;
}

h2 {
	margin: auto auto 20px auto;
	font-size: 20px;
}

a {
	font-family: "Adobe Garamond Pro", serif;
	font-size: 20px;
	color: #1f1f1f;
}

a:hover {
	text-decoration: none;
	color: #1f1f1f;
}

ul li img {
	opacity: 1.0;
	transition: opacity .65s ease-in-out;
	-moz-transition: opacity .65s ease-in-out;
	-webkit-transition: opacity .65s ease-in-out;	
}

ul li img:hover {
	opacity: 0.75;
	transition: opacity .65s ease-in-out;
	-moz-transition: opacity .65s ease-in-out;
	-webkit-transition: opacity .65s ease-in-out;	
}

.comp {
	font-family: "Adobe Garamond Pro", serif;
	font-size: 18px;
	text-align: center;
}
