@charset "utf-8";
/* CSS Document */

nav#navigation-bar {
	background-color: #1f1f1f;
}

div#body {
	margin-top: 125px;
}

h2 {
	margin: auto auto 20px auto;
	font-size: 20px;
}

.desc {
	width: 100%;
	font-size: 17px;
	text-align: justify;
}

.narrow {
	width: 80%;
}

.contact-btn {
	background-color: black;
	color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 12px;
	letter-spacing: 1px;
	border-radius: 5px;
	padding: 15px;
	text-align: center;
	vertical-align: center;
	margin-top: 10px;
	text-decoration: none;
}

.contact-btn:hover {
	background-color: rgba(0, 0, 0, 0.75);
	color: white;
	text-decoration: none;
}

ol {
	font-family: "Adobe Garamond Pro", serif;
	font-size: 16px;
	color: #1a1a1a;
	opacity: 0.85;
	padding-left: 12%;
}

ol li {
/*	width: 80%;*/
	padding: 5px 0;
}
