@charset "utf-8";
/* CSS Document */

nav#header {
	background-color: #1f1f1f;
}

div#body {
	margin: 125px auto auto auto;
}

div#body ul {
	list-style: none;
	margin: auto;
	width: 85%;
}

div#body ul li {
	display: inline-block;
	padding: 0 5px 0 5px;
	margin-top: 10px;
}

div#body ul li img {
	opacity: 1.0;
	transition: opacity .65s ease-in-out;
	-moz-transition: opacity .65s ease-in-out;
	-webkit-transition: opacity .65s ease-in-out;
}

div#body ul li img:hover {
	opacity: 0.75;
	transition: opacity .65s ease-in-out;
	-moz-transition: opacity .65s ease-in-out;
	-webkit-transition: opacity .65s ease-in-out;
}

div#body ul li p {
	text-align: center;
	margin: auto;
	font-family: "Adobe Garamond Pro", serif;
	font-size: 18px;
	letter-spacing: 0.35px;
	width: 100%;
}